<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <!-- <script src='main.js'></script> -->

</head>

<body>
    <form action="/finiliseorder" method="POST">
        <input id="test" type="hidden" name="chat">
        <fieldset>
            <input type="checkbox" name="vehicle1" value="Jacket">
            <label for="vehicle1"> Jacket</label><br>
            <input type="checkbox" name="vehicle2" value="T-shirt">
            <label for="vehicle2"> T-shirt</label><br>
            <input type="checkbox" name="vehicle3" value="Jean">
            <label for="vehicle3"> Jeans</label><br>
        </fieldset>
        <button type="submit">submit</button>
    </form>
    <!-- <?php
    if (isset($_POST['vehicle'])) {
    $optionArray = $_POST['vehicle'];
    for ($i=0; $i<count($optionArray); $i++) {
        echo $optionArray[$i]."<br />";
         }
        }
?> -->
    <script>
        const queryString = window.location.search;
        console.log(queryString);
        const urlParams = new URLSearchParams(queryString);
        const tete = urlParams.get('Melvin')
        console.log(tete);
        var chat = document.getElementById("test");
        console.log(chat)
        chat.setAttribute("value", tete);
        // const ch = document.getElementById('vehicle2')
        // console.log(ch.checked)



    </script>
</body>


</html>